<div class="goalsinfo padded">
	<p class="created">You've started this activity</p>
	<h3><%= @goal.title %></h3>
</div>


<div class="postinvite padded">
	<p class="addinvite">Invite your friends to join</p>
	<a link="#" class="btn black arrow"> <span class="twitter">Post to Twitter</span></a>
	<% if current_user %>
		<a href="#" class="btn black arrow"><span class='facebook'>Post to Facebook</span></a>
	<% else %>
		<a href="#" class="btn black arrow" id="facebook-login"><span class='facebook'>Post to Facebook</span></a>
	<% end %>
</div>