<div class="goalsinfo padded">
<p class="created">You've created this goal</p>
Goal title
</div>


<div class="postinvite padded bordered">
<p class="addinvite">Share with your friedns</p>
<a link="#" class="btn black arrow"> <span class="twitter">Post to Twitter</span></a>

<% if current_user %>
	<a href="#" class="btn black arrow"><span class='facebook'>Post to Facebook</span></a>
<% else %>
	<a href="#" class="btn black arrow" id="facebook-login"><span class='facebook'>Post to Facebook</span></a>
<% end %>