<div class="goalsinfo padded">
	<p class="created">You've created this activity!</p>
	<h3><%= @goal.title %></h3>
</div>


<div class="postinvite padded">
	<p class="addinvite">Invite your friends.</p>
	<a link="#" class="btn black arrow"> <span class="twitter">Post to Twitter</span></a>
	<a href="#" class="btn black arrow" id="<%= current_user ? 'facebook-share' : 'facebook-login' %>" ><span class='facebook'>Post to Facebook</span></a>
</div>

<script type="text/javascript">
  var inviteLink = "<%= invite_url(:id => @goal.token) %>";
  var titleShare = "<%= @goal.title %>";
</script>
