<p>
Here is your invite link:
</p>
<p>
  <%= invite_url(:id => @token) %>
</p>

<button>Post to Twitter</button>

<% if current_user %>
  <%= link_to "Post to Facebook", "#" %>
<% else %>
  <%= link_to "Login with Facebook", "#", :id => "facebook-login" %>
<% end %>