<%= resource.name %>

<%= link_to user_fb_picture(resource, 'square', :class => 'avatar'), user_path(resource) %>

<ul class="tableview">
<li class="smallhead"><%= "#{resource.username}'s Goals"%></li>
<% resource.goals.recent.each do |goal| %>
  <li>
    <%= link_to goal.title, goal_path(goal) %>
  </li>
<% end %>
</ul>

