<%= resource.name %>
<%= resource.username %>

<h3><%= "#{resource.username}'s Goals"%></h3>
<ul>
<% resource.goals.recent.each do |goal| %>
  <li>
    <%= link_to goal.title, goal_path(goal) %>
  </li>
<% end %>
</ul>

