<% if false %>
<h3>Recent Goals</h3>
<ul class="tableview">
<% collection.recent.each do |goal| %>
  <li>
    <%= link_to goal.title, goal_path(goal) %>
  </li>
<% end %>
</ul>
<% end %>




<% if logged_in? %>
  <div class="usertop">
    <%= link_to user_fb_picture(current_user, 'square', :class => 'avatar'), current_user %>
    <%= current_user.name %>
   </div>
  <ul class="tableview">
  <% current_user.goals.recent.each do |goal| %>
    <li>
      <%= link_to goal.title, goal_path(goal) %>
    </li>
  <% end %>
  </ul>
<% end %>