<h3>Latest Activities</h3>
<ul class="tableview">
<% collection.recent.each do |goal| %>
  <li>
    <%= goal.location %>
    <%= goal.date.strftime("%m/%y") %>
    <%= link_to user_fb_picture(goal.user, 'square', :class => 'avatar'), goal.user %>
    <%= link_to goal.title, goal_path(goal) %>
  </li>
<% end %>
</ul>

