<div class="newgoal padded">
  <%= form_for resource do |form| %>
    <p>
      <%= form.text_area :title, :placeholder => "What's your goal?" %>
    </p>
      <%= form.submit "Set goal", :class => "btn" %>
    </p>
  <% end %>
</div>


<div class="seegoal padded">

  <%= link_to "Goals near you", "#", :class => "btn black" %>

</div>